<div class='transactions_container'>
    <h1>Transactions</h1>
    <!-- <div class="transactions"> -->
        <ol class="transaction_list">
            {{#each transactions}}
                <div class="transaction_item">
                    <h3>BUY ({{this.symbol}})</h3>
                    <h3> - </h3>
                    <h3> {{this.quantity}} Shares @ {{this.priceAtPurchase}}</h3>
                </div>
            {{/each}}
        </ol>
    <!-- </div> -->
</div>
